/*********************** GENERAL **************************/
.row, .container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}
.withoutPadding-bottom{
    padding-bottom: 0 !important
}
.withoutPadding{
    padding: 0 !important;
}
.withoutMargin{
    margin: 0 !important;
}
.withoutMargin-left{
    margin-left: 0 !important;
}
.marginRigth{
    margin-right: 1em !important;
}
.topSpace{
    padding-top: 5em !important;
}
.paddingRigth{
    padding-right: 4.5em !important;
}
.paddingLeft-x9{
  padding-left: 9em;
}
.paddingLeft{
    padding-left: 4.5em;
}
.paddingLeft-x1{
  padding-left: 1em;
}
.paddingRigth-1x{
    padding-right: 0.5em;
}
.inLine{
    display: inline !important; 
}
.lblRight{
    right: 0 !important;
}
.selectRigth{
    text-align-last: right !important
}
.selectRigth option { direction: rtl !important}
.topSpace-2x{
    padding-top: 2em !important;
}
.topSpace-1x{
    padding-top: 1em !important;
}
.vacancyForm{
    width: 100% !important;
}
.EventForm{
    width: 100% !important;
}

.navbar{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12) !important;
}
.bottomSpace{
    padding-bottom: 5em !important;
}

.bottomAndTopSpace{
    padding-bottom: 2em !important;
    padding-top: 2em !important;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif !important;
}
.whiteText{
    color: white !important;
}

.whiteText > a{
  color: white !important;
}
.fa-1x{
    font-size: 0.1em;
    padding-left: 0.5em;
}
.navbar.navbar-light .navbar-toggler{
    color: white !important;
}
a:focus{
    outline: none !important;
}
.error{
    background: rgb(255, 241, 241) !important;
}
.alertify-notifier .ajs-message.ajs-success {
    color: #fff !important;
    background: #2BAAD5!important;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5) !important;
}
.selectedMenu{
    color: #2BAAD5 !important;
    border-bottom: 1px solid #2BAAD5 !important;
}

.colorGray{
color: #b6b6b6
}
.colorGray2{
  background: #eeeeee;
}
.colorGray3{
  background: #f6f4f4;
}

.bg-Gray{
  color: #2BAAD5 !important;
  background: #f5f5f5 !important
  }
.whiteText > option{
    color: #495057 !important;
} 
.blueText{
    color: #2BAAD5 !important;
} 
.redText{
    color: #DC1454 !important;
    
}
.dropdown-toggle::after{
    color: white;
}
.redW{
    background: #DC1454;
    color: #b6b6b6 !important;
}
.redW> .md-form label{
    color: rgb(235, 235, 235) !important;
}
.blueBack{
  background: #2BAAD5 !important;
    color: #fff !important;
}
.greenW{
    background: #03A3A4;
    color: #fff !important;
}
.greenW> .md-form label{
    color: rgb(235, 235, 235) !important;
}
.orangeW{
    background: #F16339;
    color: #fff !important;
}
.labelStyle{
    margin: 0;
    font-size: .8rem;
}
/*********************** HOME **************************/
@media (max-width: 767.98px) { 
    #particles-js{

        height: 60em !important;
        background-color: #2BAAD5;
        /* background-image: url('../../../../images/Home/WhiteLogo.png') !important; */
        background-size: contain !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat;
    }
    .cover{
        height: 30em !important;
        background-color: #2BAAD5;
        background-image: url('../../../../images/Home/WhiteLogo.png') !important;
        background-size: contain !important;
        background-position: 50% 50% !important;
        background-repeat: no-repeat;
    }
 }

 .cover{
  height: 40em !important;
  background-color: #2BAAD5;
  background-image: url('../../../../images/Home/WhiteLogo.png') !important;
  background-repeat: no-repeat;
}

/*********************** MODALES **************************/
#organizationForm, #volunteerForm, #confirm{
    color: #2BAAD5;
}


/*********************** MENU **************************/
.topbar {
    background: url('../../../../images/Home//lines.png');
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}
.grayColor{
    background-color: #222 ;
    color: #fff ;
}
.menuStyle{
    font-family: 'Quicksand', sans-serif !important ;
    color: #fff !important;
}
.menuStyle:hover{
    color: #2BAAD5 ;
    border-bottom: 1px solid #2BAAD5;
}

/*********************** LOGIN **************************/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/*********************** SING UP **************************/
.fa-10x{
    font-size: 5em !important;
}
.Register{
    color: white;
    z-index: 10000;
}

.Register  a:hover{
    color: white !important;
    font-size: 1.2em;
    text-decoration: none !important;
    
}
.Register  a{
    transition: font-size 0.5s;
    color: white;
}

.flotante{
    
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

/*********************** PROFILE **************************/
.Md-Select{
    transition: all .3s !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
    box-sizing: content-box !important;
    background-color: transparent !important;
    height: 1em;
}
.Md-Select-textArea{
  padding-top: 0.9em;
  height: 5em;
    transition: all .3s !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
    box-sizing: content-box !important;
    background-color: transparent !important;
}
.smallImg{
    width: 70%;
}
.mediumImage{
    width: 40%;
}
.smallImgx1{
    width: 30%;
}
.smallImgx0{
  border-radius: 50%;
    width: 20%;
}
.flex-column> a > .fas{
    color: #2290b4 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #2BAAD5 !important;
}
.flex-column>  .active> i{
    color: #fff !important;
}


#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }


  /*********************** ORGANIZATIONS **************************/

#organizations{
    background-image: url('../../../../images/Home/banner1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top:25%;
    padding-bottom:80px;
    min-height: 0.04px

}
.control-red .form-control:focus{
    border-color: #DC1454 !important; 
    box-shadow: 0 0 0 0.2rem rgba(250, 80, 103, 0.302) !important;
}



.d{
    bottom: 10em;
    
}

.formSearch>.transparentImput{
    background: rgba(255, 255, 255, 0.7) !important;
    border: none !important;
}
.formSearch>.transparentImput:focus{
    background: rgba(255, 255, 255, 0.9) !important;
    border: none !important;
}

.list-group-item.active{
    background-color: #DC1454 !important;
    border-color: #DC1454 !important;
}

.activeOpt{
    background: #DC1454;
    border: 30px !important;
    border-radius: 2em !important;
    color: white;
}
.activeOpt:hover{
    background: #DC1454;
    border: 30px !important;
    border-radius: 2em !important;
    color: white;
}
 /*********************** CHAT **************************/
.grayBackground{
    background: #f7f9fa;
}


.tt{
    height: 63px;
}

.imagePerfil{

    
    margin:auto !important;  
    /* vertical-align: middle !important; */
}
.imagePerfil >img{
    height: 7.7em;
    margin:auto !important; 
    /* vertical-align: middle !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
} 

.p{
    width: 18rem
    
}



.cardRed
{

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.cardRed:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.07);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: #2BAAD5!important;
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff!important;

    cursor: pointer;
}

    .imgblah{
        width:7em;
    }

    .miniImg{
        width:4em;
    }

    .note-btn-group.btn-group.note-insert{
        display: none;
    }
    .note-btn-group.btn-group.note-color{
        display: none;
    }
    .note-btn-group.btn-group.note-table{
        display: none;
    }
    .note-btn-group.btn-group.note-view{
        display: none;
        
    }
    .note-btn-group.btn-group.note-style{
        display: none;
    }
    .note-btn-group.btn-group.note-fontname{

        display: none;
    }
    .note-popover.popover.in.note-image-popover.bottom{
        display: none;
    }
    .popover-content.note-children-container{
        display: none;
    }
    .button.note-btn.btn.btn-default.btn-sm.note-btn-bold{
        background-color: #4285f4 !important;
        color: #fff;
    }

    nav.navbar.navbar-dark.bg-dark{
        background: #2BAAD5 !important;
    }
    .bg-darks{
        background: #2BAAD5 !important;
        
    }

    .table-darks{
        color: #fff;
        background: #2BAAD5 !important;
        
    }
    .input-group .form-control{
        margin: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 1.2rem !important;
    }

  /* #mailMessage  .note-editor .note-editing-area .note-editable{
        height: 20em !important;
    } */
.viewProfile{
    padding: 0.7em 0 0.7em 0;
    
}
.viewProfile:hover{
    padding: 0.7em 0 0.7em 0;
    background: #DC1454 !important;
}

.viewProfile:hover a{
    color: #fff !important;
}
.viewProfile a{
    color: #DC1454 !important;
}

hr.gradient { 
    padding: 0;
    margin: 0; 
    background: #DC1454 !important;
    height: 0.7px; 

  }
  .center-pills { display: flex !important;
    justify-content: center !important;}

    .Divmessages {
      overflow-y: scroll;
      bottom: 0;
      height:86vh !important;
    }
    .messages {
      /* overflow-y: scroll;
      bottom: 0; */
      height:86vh !important;
    }
    .buttonSend{
      margin-top: 0 !important;
      height: 2.9em;
      margin-bottom: 1em !important;
    }
  .buttonSendMessage {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #2290b4;
    color: #f5f5f5;
  }

  .bottomLine{
    position: relative;
    bottom: 1em;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
      padding: 16px 0;
    }
  }
  buttonSendMessage:hover {
    background: #2394b9;
  }
  buttonSendMessage:focus {
    outline: none;
  }

  .ss{
    position: absolute;
    z-index: 1000;
    width: 97%;
  }
  #ulChat{
    padding: 0 !important;
    list-style-type: none;
  }

  .padding-div{
    padding-left: 5vw !important; 
  }

  .image-cropper {
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
    background: #2290b4;

}
.image-cropper-x1 {
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  border-radius: 50%;
  background: #2290b4;

}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.meta{
  position: relative;
  top: -2em;
  left: 2em;
}
.name{
  font-weight: 500;
}

.wrap{
  height: 4em;
}

.contact:hover{
  cursor: pointer;
  background: #ced4da;
}
.contactSelected{
  top:-2em;
}

.maxWidReduced{
  max-width: 6.333333% !important;
}

.speech-bubble {
	position: relative;
	background: #2BAAD5;
	border-radius: .4em;
}

.speech-bubble-Gray {
	position: relative;
	background: rgb(182, 182, 182);
	border-radius: .4em;
}
.bubble-gray{
  background: rgb(182, 182, 182);
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 2px solid transparent;
	border-bottom: 0;
	border-left: 0;
	margin-left: 3em;
	margin-bottom: 0;
}

.radius{
  border-radius: 0.5em;
}

.boxShadown{
  -webkit-box-shadow: 2px 3px 9px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 9px -6px rgba(0,0,0,0.75);
box-shadow: 2px 3px 9px -6px rgba(0,0,0,0.75);
}
.no-border {
  border: 0 !important;
  box-shadow: none !important; /* You may want to include this as bootstrap applies these styles too */
}



    .tablero {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.dash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82%;
}
